<%@page_title="Delete"%>
<b><%=link_to("<< Back to customers list",customers_path)%></b>
<h1>Delete customer</h1>
<p>Are you sure you want to delete this record permanently ?</p><br/><br/>
<%=form_for(:customer,:url=>customer_path(@customer.id),:html=>{:method=>:delete}) do %>
<%=submit_tag("Delete")%>
<% end %>

